@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #141414;
}

body {
  color: #f1f1f1;
  background: var(--background-color);
  background-image: url('../public/images/hall.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #686868;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a260e4;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #905ac6;
}
