@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #141414;
}

body {
  color: #f1f1f1;
  background: var(--background-color);
  background-image: url('../public/images/hall.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}
